<div
  class="bg-darkBlue flex min-h-screen w-screen justify-center items-center md:items-start md:pt-32 xl:items-center xl:pt-0 text-pureWhite font-outfit"
>
  <div
    class="flex flex-col items-center gap-16 w-11/12 md:w-7/12 lg:w-7/12 xl:w-3/12"
  >
    <img src="../../../assets/logo.svg" alt="logo" />
    <div class="px-7 py-8 bg-semiDarkBlue rounded-lg w-full">
      <h2 class="text-xl font-light pb-7">Sign Up</h2>

      <form [formGroup]="signUpForm">
        <div class="relative flex justify-between items-center">
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            class="flex justify-between py-5 w-full text-base text-white peer invalid:focus:border-b-redy focus:outline-none bg-transparent focus:border-b-white border-b border-b-[#5A698F]"
          />
          <p
            *ngIf="
              signUpForm.get('email')?.invalid &&
              signUpForm.get('email')?.touched
            "
            class="absolute top-5 right-0 text-sm text-redy peer-invalid:visible"
          >
            Please enter a valid email
          </p>
        </div>

        <div class="relative">
          <input
            formControlName="password"
            type="password"
            placeholder="Password"
            class="flex justify-between py-4 my-6 w-full peer invalid:focus:border-b-redy text-base text-white peer focus:outline-none bg-transparent focus:border-b-white border-b border-b-[#5A698F]"
          />

          <p
            *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched"
            class="peer-invalid:visible text-redy text-sm absolute top-5 right-0 items-center"
          >
            Must exceed 5...
          </p>
        </div>

        <div class="relative">
          <input
            formControlName="repeat"
            type="password"
            placeholder="Repeat password"
            class="flex justify-between peer invalid:focus:border-b-redy py-4 w-full text-base text-white focus:outline-none bg-transparent focus:border-b-white border-b border-b-[#5A698F]"
          />
          <p
          
            class="peer-invalid:visible absolute top-4 right-0 items-center text-sm text-redy"
          >
            Does not match
          </p>
        </div>
      </form>

      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <div>
          <button
          [disabled]="!signUpForm.valid || !passwordsMatch()"
            class="rounded-md w-full text-center text-base text-white font-light bg-redy hover:bg-pureWhite hover:text-semiDarkBlue hover:cursor-pointer py-4 mt-6 cursor-pointer disabled:cursor-not-allowed disabled:opacity-40"
          >
            Create an account
          </button>
        </div>
      </a>

      <div
        class="flex justify-center gap-1 w-full text-center text-base text-pureWhite font-lightpy-4 mt-6"
      >
        Already have an account?
        <div class="text-redy hover:underline hover:cursor-pointer">
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
